node_modules/
/public/storage
/public/hot
/storage/*.key
/vendor/
/.idea
.vscode/
# ignore all files inside directory, but not directory itself, thanks to .gitkeep file
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
composer.lock
/public_html/build_
public
npm-debug.log
app/Console/Commands/Inspire.php


# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

timesnewroman.ttf
codes.txt
composer.bat
load_font.php
package-lock.json
/resources/lang/ru/
/resources/lang/en/
storage/apk/
storage/app/1/
storage/app/delivery/
storage/app/numbers_for_replacement/
storage/app/passports/
storage/cookie/MTSGuzzleClient_193208702_report.json
storage/cookie/MTSGuzzleClient_200017890_report.json
storage/cookie/MTSGuzzleClient_204233034_report.json
storage/cookie/MTSGuzzleClient_204393332_report.json
storage/pdf/
storage/pm2/
storage/tests/
storage/updateResellersCallback.log
tests/Feature/Controllers/Api2ControllerTest.php
/public_html/mix-manifest.json
/public_html/_static/
/public_html/metrika/
/public_html/images_news/
/z_local/
/config/services_config.php
/config/services_config_*.php
resources/assets/js/_static/sprite-*
/public_html/assets/sprites/*
/public_html/assets/sprites_big/
.phpunit.result.cache
/storage/app/ru.json
dist
